<header class="navbar navbar-expand navbar-dark navbar-theme-primary">
  <div class="container-xl flex-wrap flex-md-nowrap">
    <a class="navbar-brand mr-4" href="/" aria-label="Rocket Documentation">
      <img src="/docs/{{4.3}}/assets/brand/rocket.svg" alt="Rocket logo">
      <span class="ml-2">Rocket docs</span>
    </a>

    <div class="navbar-nav-scroll order-3 order-md-0 d-flex justify-content-center justify-content-md-start">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link{{ if .IsHome }} active" aria-current="page{{ end }}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq .Page.Layout "docs" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq .Page.Title "Pages" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/pages/">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.themes }}" target="_blank" rel="noopener">Themes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.blog }}" target="_blank" rel="noopener">Blog</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-sm-auto">
      <li class="nav-item">
        <a class="nav-link px-1 mx-1 py-3 my-n2" href="{{ .Site.Params.repo }}" target="_blank" rel="noopener" aria-label="GitHub">
          {{ partial "icons/github.svg" (dict "class" "navbar-nav-svg" "width" "20" "height" "20") }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" rel="noopener" aria-label="Twitter">
          {{ partial "icons/twitter.svg" (dict "class" "navbar-nav-svg" "width" "20" "height" "20") }}
        </a>
      </li>
    </ul>

    <a class="btn btn-md btn-secondary animate-up-2 ml-3" href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Download</a>
  </div>
</header>
