<main class="section section-xl bg-primary text-white mb-3 mb-md-5 border-bottom" id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="mb-3 display-1">Rocket docs</h1>
        <p class="mb-5 lead px-lg-10">Premium SaaS website template featuring over 25 pages and a fully integrated Bootstrap Design System.</p>
        <div class="d-flex flex-column justify-content-center flex-md-row">
          <a href="/docs/getting-started/introduction/" class="btn btn-lg btn-secondary animate-up-2 px-4">Get started</a>
          <a href="https://themesberg.com/product/bootstrap-themes/rocket-saas-bootstrap-website-template" target="_blank" class="btn btn-lg btn-outline-white animate-up-2 ml-3 px-4">Download</a>
        </div>
        <p class="text-white font-small mb-0 mt-4">
          Current version v{{ .Site.Params.current_version }}
        </p>
      </div>
    </div>
  </div>
</main>
