<main class="bd-masthead mb-3 mb-md-5 border-bottom" id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="mb-3 text-primary">Rocket docs</h1>
        <p class="mb-4 lead px-lg-10">Premium SaaS website template featuring over 25 pages and a fully integrated Bootstrap Design System.</p>
        <div class="d-flex flex-column justify-content-center flex-md-row">
          <a href="/docs/getting-started/introduction/" class="btn btn-md btn-primary animate-up-2" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Get started</a>
          <a href="https://themesberg.com/product/bootstrap-themes/rocket-saas-bootstrap-website-template" target="_blank" class="btn btn-md btn-secondary animate-up-2 ml-3">Download</a>
        </div>
        <p class="text-muted mb-0 mt-4">
          Current version <strong>v{{ .Site.Params.current_version }}</strong>
        </p>
      </div>
    </div>
  </div>
</main>
